/* .container{
    background: #0080 url('https://cutewallpaper.org/21/red-and-black-gradient-background/Black-background-png-Transparent-pictures-on-F-Scope-.png') no-repeat center fixed;
    background-size: cover;
} */



.background_color{
    position: absolute;
    background-color: #7c0000;
background-image: linear-gradient(326deg, #7c0000 0%, #3e0000 74%);
width: 100vw;
height: 100vh;
}
.container{
    position: relative;
}
/* nav bar css start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0.75rem 5vw;
    top: 0;
    color: white;
    z-index: 10;
   
  }
  
  .hungry{
    color: white;
  }
  
  nav p {
    font-size: 25px;
    font-weight: 600;
    cursor: default;
  }
  
  nav li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 50%;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    transition: 0.1s ease-in-out;
    font-size: 20px;
  }
  nav a:hover {
    color:  #e9a80d;
  }
  .y{
    color:  #e9a80d
}

/* 
nav bar CSS finish */
 
/* button css start*/



aside ul li a {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
  }
  
   aside ul li a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    margin-left: -12px;
    z-index: 1;
  }
  
  aside ul li a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #e9a80d;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;  background: #e9a80d;
  }
  
  aside ul li a .liquid::after,
  aside ul li a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  aside ul li a .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  aside ul li a .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }
  
  aside ul li a:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -85%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  /* button CSS finish */

  /* aside info css start */

  aside {
    position: relative;
    color: white;
    
}
.Juicy_Bite{
    color: #e9a80d;
}
aside {
    margin-left: 15rem;
    margin-top: 15rem;
    width: 40%;
}
img {
    height: 100vh;
     margin-left: 60%;
margin-top: -35%;
  
 }
 aside h1{
     font-size: 34px;
 }
 aside p{
     opacity: 0.7;
 }
/* aside info css finish */
/* menu css start */


.main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-top: 62rem;
    margin-left: 30rem;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  
  .card_image {
    max-height: 250px;
    position: relative;
  }
  
  .card_image img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 32%;
    }
    .cards_item.second {
      width: 36%;
    }
  }
  
  .card {
    background-color: #ffffffb3;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 3rem #00000019;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 1rem 10px;
    border-radius: 16px;
    height: fit-content;
  }
  
  .card_content {
    padding: 0.1rem 0;
  }
  
  .price {
    position: absolute;
    bottom: 10px;
    right: -3px;
    border-top-left-radius: 500rem;
    border-bottom-left-radius: 500rem;
    padding-right: 25px;
    padding-left: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    background: #538e00;
  }
  
  .card_title {
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 5rem;
    padding-right: 4rem;
    text-align: center;
    font-weight: 700;
  }
  
  .card_text {
    margin-top: 16px;
    font-size: 17px;
  }
  /* menu css finish */

  .burger
{

  display: flex;
  align-items: center;
  flex-direction: column;


}

button
{
  width: 13rem;
  height: 5rem;
  margin-bottom: 0rem;
 
  
}
.top-bun
{
  border: 5px solid #f6bd70;
 
  border-radius: 5rem 5rem 1rem 1rem;
  animation: bun-lettuce-coming 1.5s;
}
.tomato
{
  width: 9rem;
  height: 1rem;
  border: 2px solid #ff79da;
  border-radius: 2rem;
  animation: content-coming 1.5s;
}
.lettuce
{
  width: 12rem;
  height: 0.8rem;
  border: 2px solid #b6f06a;
  border-radius: 2rem;
  animation: bun-lettuce-coming 1.5s;
}
.steak
{
  width: 13rem;
  height: 1.8rem;
  border: 2px solid #9356dc;
  border-radius: 3rem;
  animation: content-coming 1.5s;
}
.bottom-bun
{
  height: 3rem;
  border: 5px solid #f6bd70;
  border-radius: 1rem 1rem 5rem 5rem;
  animation: bun-lettuce-coming 1.5s;
}
@keyframes bun-lettuce-coming {
    0% {
        transform:translateX(-30rem);
        margin: 1rem;
    }
    70% {
        margin: 1rem;
    }
    100% {
        transform: translateX(0rem);
        margin: 0rem;
    }
}
@keyframes content-coming {
    from {
        transform:translateX(30rem);
    }
    to {
        transform:translateX(0rem);
    }
}
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
        z-index: 9999;
    }
    60% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
}
.color{
    background-color: #00000019;
    /* background-image: linear-gradient(326deg, #7c0000 0%, #3e0000 74%); */
    width: 100vw;
    height: 30vh;
   padding-top: 10rem;
    
}